<app-log-out></app-log-out>

<div class="menu-wrapper">
  <h2 class="page-title">
    Menu - Vehicle Management System
  </h2>

  <div class="tb-row">

    <div class="card">
      <img class="card-img-top mx-auto" src="assets/images/compose.svg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">View Vehicle Details</h5>
        <p class="card-text">To View The Details Of Already Entered Vehicle Details.</p>
        <button class="btn btn-primary" (click)="showDetailFun()">Show Details</button>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top mx-auto" src="assets/images/taxi.svg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Enter New Vehicle Details</h5>
        <p class="card-text">To Enter The Details Of New Arrived Vehicles & etc.</p>
        <button class="btn btn-primary" (click)="addVehicleFun()">Add Vehicle</button>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top mx-auto" src="assets/images/computer.svg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">View All Notifications</h5>
        <p class="card-text">Show All The New Came Vehicle Booking Requests.</p>
        <button class="btn btn-primary" (click)="showAllNotificationFun()">Show All</button>
      </div>
    </div>

  </div>
</div>








